/** Not allowed to change this initial CSS code **/
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}
/*************************************************/


header,
section,
aside,
main,
footer {
	border: 1px solid #333;
	min-height: 150px;
}

/**
 *
 * Mobile layout
 */
#container {
	display: grid;
	width: 90%;
	margin: 0 auto;

	row-gap: 20px;
}

footer {
	display: grid;
	padding: 10px;
	row-gap: 20px;
}

